.helpMainContainer {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.helpingCards {
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.helpingCard {
    box-shadow: 5px 5px 20px black;
    border-radius: 20px;
    height: 300px;
    width: 350px;
    position: relative;
    cursor: pointer;
    margin: 0 50px;
}
.helpingCardImg {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    display: block;
}
.helpingCardOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
    background-color: #28004d;
    opacity: 0;
    border-radius: 20px;
}
.helpingCardOverlay:hover {
    opacity: 0.8;
    transition: 0.5s ease;
    width: 100%;
    height: 100%;
}
.text {
    text-align: center;
    color: white;
    font-size: 20px;
    position: absolute;
    width: 350px;
    height: 300px;
    padding: 2rem 1rem 0 1rem;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    background-color: #28004d;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.helpingCardTitle {
    font-size: 2.5rem;
    background-color: #28004d;
    color: #fff;
}

@media screen and (max-width: 1700px) {
    .helpMainContainer {
        height: 400px;
    }
    .helpingCards {
        margin-bottom: 5rem;
    }
    .helpingCard {
        height: 250px;
        width: 300px;
        margin: 0 35px;
    }
    .text {
        height: 250px;
        width: 300px;
        padding: 1rem 1rem 0 1rem;
        font-size: 18px;
    }
    .helpingCardTitle {
        font-size: 1.75rem;
    }
}

@media screen and (max-width: 1500px) {
    .helpingCards {
        justify-content: space-evenly;
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-columns: 300px 375px;
        row-gap: 25px;
        margin-top: 35rem;
    }
    .helpingCard {
        height: 350px;
        width: 375px;
    }
    .helpingCardTitle {
        font-size: 2.75rem;
    }
    .text {
        font-size: 1.15rem;
        width: 100%;
        padding: 0.75rem 1rem 1rem 1rem;
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 1300px) {
    .helpingCards {
        height: 700px;
        row-gap: 20px;
        margin-top: 25rem;
    }
    .helpingCard {
        height: 300px;
        width: 325px;
        margin: 0 50px;
    }
    .text {
        font-size: 1.2rem;
        height: 100%;
        width: 100%;
        padding: 3rem 1rem 1rem 1rem;
    }
    .helpingCardTitle {
        font-size: 2rem;
    }
}

@media screen and (max-width: 900px) {
    .helpMainContainer {
        width: 100%;
        height: 950px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .helpingCards {
        height: 1400px;
        display: flex;
        flex-direction: column;
    }
    .helpingCard {
        width: 325px;
    }
    .helpingCardOverlay:hover {
        opacity: 0.8;
        transition: 0.5s ease;
        width: 100%;
        height: 100%;
    }
    .text {
        text-align: center;
        color: white;
        font-size: 20px;
        position: absolute;
        width: 325px;
        padding: 2rem 1rem 0 1rem;
    }
    .helpingCardTitle {
        font-size: 2.2rem;
    }
}

@media screen and (max-width: 500px) {
    .helpMainContainer {
        width: 100%;
        height: 950px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
    }
    .helpingCards {
        height: 1200px;
        row-gap: 50px;
    }
    .helpingCard {
        width: 300px;
        height: 275px;
    }
    .text {
        width: 300px;
        padding: 0.8rem 1rem 0 1rem;
    }
    .helpingCardTitle {
        font-size: 1.75rem;
    }
}

@media screen and (max-width: 375px) {
    .helpingCard {
        width: 250px;
        height: 250px;
    }
    .helpingCardTitle {
        font-size: 1.2rem;
    }
    .text {
        width: 250px;
        font-size: 1rem;
        padding: 1.5rem 1rem 0 1rem;
    }
}