.helpMainContainer {
    width: 100%;
    height: 625px;
    font-family: 'Uchen', serif;
}

.helpTitle {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.helpingIcons {
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.helpingText {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid #000;
    padding: 8px;
    border-radius: 4px;
}

.helpingTitle {
    font-size: 1.75rem;
    padding-bottom: 25px;
}

.helpingDesc {
    display: flex;
    text-align: center;
    font-size: 1.2rem;
}

@media screen and (max-width: 1300px) {
    .helpMainContainer {
        height: 450px;
    }
    .helpTitle {
        height: 75px;
        font-size: 1.5rem;
    }
    .helpingIcons {
        height: 300px;
    }
    .helpingText {
        width: 200px;
        height: 200px;
        border: none;
    }
    .helpingTitle {
        font-size: 1.5rem;
    }
    .helpingDesc {
        font-size: 1rem;
    }
}