.heroMainContainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}
.profilePicContainer {
    height: 500px;
    width: 500px;
    background-image: url("../../images/67278.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profilePic {
    height: 450px;
    border-radius: 20px;
}
.companyName {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 300px;
    width: 1100px;
}
.initials {
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 60px;
    margin-bottom: 0.5rem;
}
.comapanyTitle {
    width: 63%;
    background: none;
    font-size: 3.5rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    height: 55px;
    border-bottom: 2px solid #000;
}
.companyInitials {
    color: #28004d;
    font-size: 5rem;
    font-weight: 900;
}
.companyDesc {
    text-align: center;
    width: 60%;
    line-height: 1.3;
    font-size: 1.5rem;
    font-weight: 400;
}

@media screen and (max-width: 1700px) {
    .profilePicContainer {
        height: 375px;
        width: 375px;
        margin-bottom: 4rem;
    }
    .profilePic {
        height: 350px;
    }
    .companyName {
        height: 300px;
        width: 850px;
    }
    .comapanyTitle {
        width: 65%;
        font-size: 2.5rem;
        border-bottom: 2px solid #000;
    }
    .companyDesc {
        width: 50%;
    }
}

@media screen and (max-width: 1300px) {
    .profilePicContainer {
        height: 350px;
        width: 350px;
    }
    .profilePic {
        height: 325px;
    }
    .companyName {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 300px;
        width: 600px;
    }
    .initials {
        height: 40px;
        margin-bottom: 0rem;
    }
    .comapanyTitle {
        width: 75%;
        font-size: 2rem;
        height: 35px;
        border-bottom: 1px solid #000;
    }
    .companyInitials {
        font-size: 4rem;
    }
    .companyDesc {
        width: 75%;
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 1000px) {
    .profilePicContainer {
        height: 325px;
        width: 325px;
    }
    .profilePic {
        height: 300px;
    }
    .companyName {
        height: 300px;
        width: 500px;
    }
    .initials {
        height: 30px;
    }
    .comapanyTitle {
        width: 75%;
        font-size: 1.8rem;
        height: 30px;
    }
    .companyInitials {
        font-size: 3rem;
    }
    .companyDesc {
        width: 75%;
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 900px) {
    .heroMainContainer {
        flex-direction: column;
    }
    .profilePicContainer {
        height: 300px;
        width: 300px;
    }
    .profilePic {
        height: 275px;
    }
    .companyName {
        height: 00px;
        width: 900px;
    }
    .initials {
        height: 50px;
        margin-bottom: 0rem;
    }
    .comapanyTitle {
        width: 50%;
        font-size: 2rem;
        height: 45px;
    }
    .companyInitials {
        font-size: 4rem;
    }
    .companyDesc {
        width: 50%;
    }
}

@media screen and (max-width: 500px) {
    .heroMainContainer {
        height: 90vh;
    }
    .profilePicContainer {
        height: 275px;
        width: 275px;
        padding: 15px;
    }
    .profilePic {
        height: 250px;
    }
    .companyName {
        height: 200px;
        width: 100%;
    }
    .initials {
        width: 90%;
        height: 35px;
    }
    .comapanyTitle {
        width: 85%;
        font-size: 1.7rem;
        font-weight: 600;
        height: 25px;
    }
    .companyInitials {
        font-size: 3rem;
    }

    .companyDesc {
        width: 70%;
        line-height: 1.1;
        font-size: 1.2rem;
    }
}