.heroMainContainer {
    height: calc(100vh - 50px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Uchen', serif;
    padding-top: 8rem;
    margin-bottom: 2rem;
}
.profilePicContainer {
    height: 575px;
    width: 575px;
    background-image: url("../../images/67278.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 75px;
}
.profilePic {
    height: 550px;
    border-radius: 20px;
}
.companyName {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 300px;
    width: 900px;
}
.initials {
    text-transform: uppercase;
    text-align: center;
    width: 93%;
    display: flex;
    justify-content: center;
    height: 70px;
}
.comapanyTitle {
    width: 100%;
    background: none;
    font-size: 4rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    border-bottom: 4px solid #000;
}
.companyInitials {
    color: #28004d;
    font-size: 7rem;
    font-weight: 900;
}
.companyDesc {
    text-align: center;
    width: 90%;
    line-height: 1.5;
    font-size: 2rem;
    font-weight: 400;
}

@media screen and (max-width: 1800px) {
    .profilePicContainer {
        height: 525px;
        width: 525px;
    }
    .profilePic {
        height: 500px;
    }
    .comapanyTitle {
        width: 78%;
        font-size: 3rem;
        border-bottom: 2px solid #000;
    }
    .companyInitials {
        font-size: 5.5rem;
        font-weight: 600;
    }
    .companyDesc {
        font-size: 1.75rem;
        width: 75%;
    }
}

@media screen and (max-width: 1550px) {
    .comapanyTitle {
        width: 80%;
        font-size: 2.75rem;
    }
    .companyDesc {
        width: 80%;
    }
}

@media screen and (max-width: 1525px) {
    .heroMainContainer {
        height: 100vh;
        width: 100vw;
        flex-direction: column;
        /* padding-top: 10rem; */
    }
    .profilePicContainer {
        height: 350px;
        width: 350px;
        padding: 15px;
    }    
    .profilePic {
        height: 325px;
        width: 325px;
    }
    .companyName {
        padding-top: 2.2rem;
    }
    .comapanyTitle {
        width: 75%;
        height: 50px;
        font-size: 3rem;
        border-bottom: 1px solid #000;
    }
    .companyInitials {
        font-size: 5rem;
    }    
    .companyDesc {
        width: 80%;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 900px) {
    .heroMainContainer {
        /* padding-bottom: 4rem; */
        padding-top: 0rem;
        height: 100vh;
    }
    .profilePicContainer {
        height: 275px;
        width: 275px;
    }
    .profilePic {
        height: 250px;
        width: 250px;
    }
    .initials {
        width: 85%;
    }
    .comapanyTitle {
        width: 58%;
        font-size: 2rem;
        line-height: 1;
    }
    .companyInitials {
        font-size: 4rem;
    }    
    .companyDesc {
        width: 65%;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 400px) {
    .heroMainContainer {
        height: 100vh;
        width: 100vw;
        background-color: aqua;
        /* padding-bottom: 3rem; */
        /* margin-bottom: 0rem; */
    }
    .profilePicContainer {
        height: 275px;
        width: 275px;
        padding: 15px;
    }
    .companyName {
        height: 275px;
        width: 100%;
    }
    .initials {
        width: 93%;
        height: 30px;
    }
    .comapanyTitle {
        width: 95%;
        font-size: 1.5rem;
        font-weight: 600;
        height: 30px;
        border-bottom: 1px solid #000;
    }
    .companyInitials {
        font-size: 2.5rem;
    }
    .companyDesc {
        width: 88%;
        line-height: 1.2;
        font-size: 1.3rem;
        font-weight: 500;
    }
}