.gitMainContainer {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Uchen', serif;
}

.gitContainer {
    width: 75%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.containerLeftSide {
    height: 500px;
    width: 400px;
    overflow: hidden;
}

.containerRightSide {
    /* background-color: yellow; */
    height: 500px;
    width: 400px;
    display: flex;
    justify-content: center;
}