.gitMainContainer {
    width: 100%;
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Uchen', serif;
}
.gitContainer {
    width: 70%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.containerLeftSide {
    height: 500px;
    width: 400px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 5px 5px 20px black;
}

.containerRightSide {
    height: 500px;
    width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 10px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 5px 5px 20px black;
}

.rightSideTitle {
    color: #28004d;
    font-size: 2.3rem;
    background: none;
    font-weight: 800;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.rightSideDesc {
    text-align: center;
    line-height: 1.5;
    font-size: 1.3rem;
    padding-bottom: 1rem;
    background: none;
}

.rightSideInfo {
    text-align: center;
    line-height: 1.5;
    font-size: 1.3rem;
    padding-bottom: 1.5rem;
    background: none;
}

.rightSideDetails {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.3rem;
    line-height: 1;
    background-color: #fff;
}

.rightSideIcon {
    display: flex;
    color: #28004d;
    font-size: 1.6rem;
    background-color: #fff;
}

.icon {
    background: none;
}

.rightSideText {
    padding-left: 15px;
    border: none;
    font-family: 'Uchen', serif;
    font-size: 1.3rem;
    cursor: pointer;
    background-color: #fff;
}

.rightSidePhone {
    padding-left: 15px;
    border: none;
    font-family: 'Uchen', serif;
    font-size: 1.3rem;
    background-color: #fff;
}

.rightSideLinks {
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 1.3rem;
    font-size: 2rem;
    color: #28004d;
    background-color: #fff;
}

@media screen and (max-width: 375px) {
    
}
@media screen and (max-width: 600px) {}
@media screen and (max-width: 800px) {}
@media screen and (max-width: 1000px) {}
@media screen and (max-width: 1500px) {}

@media screen and (max-width: 1300px) {
    .gitMainContainer {
        height: 600px;
    }
    .gitContainer {
        width: 80%;
    }
    .containerLeftSide {
        height: 450px;
        width: 350px;
    }
    .containerRightSide {
        height: 400px;
        width: 350px;
    }
    .rightSideTitle {
        font-size: 1.5rem;
        font-weight: 800;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .rightSideDesc {
        line-height: 1.2;
        font-size: 1.1rem;
        padding-bottom: 0.5rem;
    }
    .rightSideInfo {
        line-height: 1.2;
        font-size: 1.1rem;
        padding-bottom: 0.5rem;
    }
    .rightSideDetails {
        font-size: 1.1rem;
    }
    .rightSideIcon {
        font-size: 1.3rem;
    }
    .rightSideText {
        font-size: 1.1rem;
    }
    .rightSidePhone {
        font-size: 1.1rem;
    }
    .rightSideLinks {
        width: 50%;
        padding-top: 0.75rem;
        font-size: 1.75rem;
    }
}

@media screen and (max-width: 1550px) {
    .gitContainer {
        width: 75%;
    }
}

@media screen and (max-width: 1300px) {
    .containerRightSide {
        padding-top: 2rem;
    }
}

@media screen and (max-width: 1100px) {
    .rightSideLinks {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .gitMainContainer {
        width: 100%;
        height: 1000px;
    }
    .gitContainer {
        flex-direction: column-reverse;
        height: 900px;
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .gitMainContainer {

    }
    .gitContainer {
        flex-direction: column-reverse;
    }
}