#navBar {
    position: fixed;
    top: 0;
    width: 100%;
    transition: 1s;
    z-index: 100;
}

.navContainer {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-container {
    /* height: 150px; */
    /* display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Uchen', serif; */
}

.logoContainer {
    width: 33.3%;
    display: flex;
    justify-content: center;
}

.logo {
    height: 125px;
    width: 175px;
}

.listContainer {
    display: flex;
    justify-content: space-evenly;
    width: 33.3%;
    text-decoration: none;
}

.navLink {
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
}

li {
    list-style: none;
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: bolder;
}

.linksContainer {
    display: flex;
    justify-content: center;
    width: 33.3%;
}

.link {
    font-size: 2rem;
    margin: 0 10px;
    color: #28004d;
}

.nav-btn {
    padding: 5px;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    background: transparent;
    outline: none;
    color: #28004d;
    visibility: hidden;
    opacity: 0;
}

@media screen and (max-width: 1525px) {
    .main-container {
        height: 100px;
    }
    .logo {
        height: 100px;
        width: 125px;
    }
}

@media screen and (max-width: 900px) {
    .nav-container {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        transform: translateY(-100vh);
        background-color: #28004d;
    }
    .main-container {
        background-color: #28004d;
    }
    .responsive_nav {
        transform: none;
    }
    .logoContainer {
        display: none;
    }
    .linksContainer {
        display: none;
    }
    .nav-btn {
        visibility: visible;
        opacity: 1;
        /* font-size: 50rem; */
    }
    .nav-close-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }
}