#navBar {
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.5s;
    z-index: 100;
}

.main-container {
    height: 100px;
}

.navContainer {
    background: none;
}

.navbar {
    padding: 0px 25px;
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    height: 150px;
    width: 200px;
    background: none;
}
.logo2 {
    display: none;
}

.navbar>.nav-items>.navLink {
    font-size: 1.75rem;
    margin: 25px;
    position: relative;
    opacity: 0.8;
}

.navbar>.nav-items>.navLink:hover {
    color: #28004d;
    opacity: 1;
}

.navbar>.nav-items>.navLink::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background: #28004d;
    transition: all 0.5s;
}

.navbar>.nav-items>.navLink:hover::before {
    width: 100%;
}

.navbar>.nav-toggle {
    display: none;
}

.navLink {
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-size: 2.75rem;
    font-weight: 600;
}

.linksContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
}

.linksContainer a {
    background: none;
}

.link {
    font-size: 3rem;
    margin: 0 25px;
    color: #000;
    background: none;
    opacity: 0.8;
}

.link:hover {
    color: #28004d;
    opacity: 1;
}

#hamburger {
    display: none;
}

.icon {
    cursor: pointer;
}

@media screen and (max-width: 1700px) {
    .navbar {
        padding: 0px 0px;
        height: 125px;
    }

    .logo {
        height: 125px;
        width: 175px;
    }

    .navbar>.nav-items>.navLink {
        font-size: 1.5rem;
    }

    .link {
        font-size: 2.2rem;
        margin: 0 15px;
    }

    .link:hover {
        color: #28004d;
        opacity: 1;
    }
}

@media screen and (max-width: 1300px) {
    .navbar>.nav-items>.navLink {
        font-size: 1.4rem;
        margin: 0px 18px;
    }

    .link {
        font-size: 2rem;
    }
}

@media screen and (max-width: 1100px) {
    .navContainer {
        width: 100%;
    }

    .navbar {
        padding: 0px 100px;
        height: 125px;
        width: 100%;
        justify-content: space-between;
    }

    .logo {
        width: 150px;
    }

    .navbar>.nav-items {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 15rem;
        flex-direction: column;
        background: #e3e3e3;
        left: 0;
        width: 35%;
        height: 70vh;
        transform: translateX(-125%);
        transition: all 0.5s;
        border: 7px solid #000;
    }

    .navbar>.nav-items>.navLink {
        margin: 15px 0px;
        font-size: 1.75rem;
    }

    .navbar>.nav-items>.navLink::before {
        background-color: transparent;
    }

    .navbar>.nav-items.open {
        transform: translateX(0);
        background-color: #e3e3e3;
        width: 100%;
    }

    #linksContainer {
        display: none;
    }

    .navbar>.nav-toggle {
        display: flex;
        width: 50px;
        height: 50px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .nav-toggle>.bar {
        position: relative;
        width: 32px;
        height: 5px;
        background: #000;
        transition: all 0.5s ease-in-out;
    }

    .nav-toggle>.bar::before,
    .nav-toggle>.bar::after {
        content: "";
        position: absolute;
        height: 5px;
        background-color: #000;
        border-radius: 0px;
        transition: all 0.5s ease-in-out;
    }

    .nav-toggle>.bar::before {
        width: 25px;
        transform: translateY(-8px);
        right: 0;
    }

    .nav-toggle>.bar::after {
        width: 32px;
        transform: translateY(8px);
    }

    .nav-toggle.open>.bar {
        transform: translateX(-40px);
        background: transparent;
    }

    .nav-toggle.open>.bar::before {
        width: 32px;
        transform: rotate(45deg) translate(26px, -26px);
    }

    .nav-toggle.open>.bar::after {
        transform: rotate(-45deg) translate(26px, 26px);
    }
}

@media screen and (max-width: 900px) {
    .navContainer {
        width: 100%;
    }

    .navbar>.nav-items {
        padding-top: 20rem;
        height: 80vh;
        transform: translateX(-125%);
    }

    .navbar>.nav-items>.navLink {
        font-size: 1.5rem;
    }
    .logo2 {
        display: block;
        height: 100px;
        width: 125px;
    }
}

@media screen and (max-width: 700px) {
    .navbar {
        height: 100px;
        display: flex;
        justify-content: flex-end;
    }
    .logo {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .navbar {
        padding: 0px 45px;
        height: 50px;
        justify-content: space-between;
    }

    .navbar>.nav-items {
        padding-top: 15rem;
        height: 70vh;
    }

    .logo2 {
        height: 75px;
        width: 100px;
    }

    .navbar>.nav-items>.navLink {
        margin: 10px 0px;
        font-size: 1.2rem;
    }

    #linksContainer {
        display: none;
    }

    .navbar>.nav-toggle {
        display: flex;
        width: 100%;
        height: 50px;
        align-items: center;
        justify-content: flex-end;
        background: none;
    }
}