.testMainContainer {
    height: 400px;
    display: flex;
    justify-content: center;
    font-family: 'Uchen', serif;
    margin-top: 50px;
}

.testimonialTitle {
    font-size: 2rem;
    background: none;
    color: #28004d;
    padding-top: 3rem;
}