.testMainContainer {
    height: 400px;
    display: flex;
    justify-content: center;
    font-family: 'Uchen', serif;
    margin-top: 50px;
}

.testimonialTitle {
    font-size: 2rem;
    background: none;
    color: #28004d;
    padding-top: 3rem;
}

@media screen and (max-width: 600px) {}
@media screen and (max-width: 800px) {}
@media screen and (max-width: 1000px) {}
@media screen and (max-width: 1500px) {}